.parent{
    -fx-background-color:  #ffff;
}

.sidebar{
    -fx-background-color: #2e86c1;
}

.btns{
    -fx-background-color: #2e86c1;
}

.btns:hover{
    -fx-background-color:  #2874a6 ;
}

.homeBtns{
    -fx-background-color: #e5e5e5;
}

.homeBtns:hover{
    -fx-background-color:  #d6d6d6  ;
}

.top {
    -fx-background-color: linear-gradient(to right, #2e86c1, #2874a6);
}

.textfield {
    -fx-prompt-text-fill: #c1c1c1;
    -fx-text-inner-color: WHITE;
}

.combo-box,
.choice-box {
    -fx-font-size: 13px;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color:  #4d4d4d;
    -fx-padding: 0 0 3 -8;
}

.combo-box .list-cell:filled:selected .text,
.choice-box .list-cell:filled:selected .text {
    -fx-fill: WHITE;
}

.combo-box .arrow,
.choice-box .arrow {
    -fx-background-color: #4d4d4d;
}

.combo-box:hover{
    -fx-background-color: #2874a6;
}

.list-view {
    -fx-background-color: white;
}

.list-view .list-cell:hover {
    -fx-background-color: #2874a6;
}

.list-view .list-cell:selected {
    -fx-background-color: #2874a6;
}

.list-view .list-cell {
    -fx-background-color: #2e86c1;
    -fx-text-fill: white;
}

.list-view .label {
    -fx-text-fill: white;
}


#deleteBtn{
    -fx-graphic: url("/resources/views/images/delete_user.png");
}

#deleteBtn:hover {
    -fx-graphic: url("/resources/views/images/delete_user_red.png") ;
}







