.parent{
    -fx-background-color:  #ffff;
}

.sidebar{
    -fx-background-color: #2e86c1;
}

.btns{
    -fx-background-color: transparent;
}

.btns:hover{
    -fx-background-color:  #2874a6  ;
}

.top {
    -fx-background-color: linear-gradient(to left, #2e86c1, #2874a6);
}


