@font-face{
    font-family: Couture;
    src: url("couture-bld.otf");
}

.parent{
    -fx-background-color:  #ffff;
}

.sidebar{
    -fx-background-color: #2e86c1;
}

.title-font{
    -fx-font-family: "Couture";
    -fx-font-size: 20;
}

.label-font{
    -fx-font-family: "Couture";
    -fx-font-size: 12;
}

.usermenu{
    -fx-font-family: "Couture";
    -fx-font-size: 16;
}

.cbbox {
    -fx-font-family: "Couture";
    -fx-font-size: 13;
}

.btns{
    -fx-background-color: transparent;
    -fx-font-family: "Couture";
    -fx-font-size: 13;
}

.btns:hover{
    -fx-background-color:  #2874a6 ;
    -fx-font-family: "Couture";
    -fx-font-size: 13;
}

.sideBtns{
    -fx-background-color: transparent;
    -fx-font-family: "Couture";
    -fx-font-size: 16;
}

.sideBtns:hover{
    -fx-background-color:  #2874a6 ;
    -fx-font-family: "Couture";
    -fx-font-size: 16;
}

.homeBtns{
    -fx-background-color: #2e86c1;
    -fx-font-family: "Couture";
    -fx-text-fill:  white;
    -fx-font-size: 13;
}

.homeBtns:hover{
    -fx-background-color:  #2874a6;
    -fx-font-family: "Couture";
    -fx-text-fill:  white;
    -fx-font-size: 13;
}

.activityBtns{
    -fx-background-color: white;
    -fx-font-family: "Couture";
}

.activityBtns:hover{
    -fx-background-color: #c1c1c1;
    -fx-font-family: "Couture";
}

.top {
    -fx-background-color: linear-gradient(to right, #2e86c1, #2874a6);
}

.textfield {
    -fx-prompt-text-fill: #c1c1c1;
    -fx-text-inner-color: WHITE;
}

.combo-box,
.choice-box {
    -fx-font-size: 13px;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color:  #4d4d4d;
    -fx-padding: 0 0 3 -8;
}

.combo-box .list-cell:filled:selected .text,
.choice-box .list-cell:filled:selected .text {
    -fx-fill: WHITE;
}

.combo-box .arrow,
.choice-box .arrow {
    -fx-background-color: #4d4d4d;
}

.combo-box:hover{
    -fx-background-color: #2874a6;
}

.list-view {
    -fx-background-color: white;
}

.list-view .list-cell:hover {
    -fx-background-color: #2874a6;
}

.list-view .list-cell:selected {
    -fx-background-color: #2874a6;
}

.list-view .list-cell {
    -fx-background-color: #2e86c1;
    -fx-text-fill: white;
}

.list-view .label {
    -fx-text-fill: white;
}


#deleteBtn{
    -fx-graphic: url("/resources/views/images/delete_user.png");
}

#deleteBtn:hover {
    -fx-graphic: url("/resources/views/images/delete_user_red.png") ;
}

.tree-table-row-cell:selected {
    -fx-background-color: green;
    -fx-table-cell-border-color: green;
}

.tree-table-view .tree-table-cell{
    -fx-background-color: yellow;
}






